.Header {
    color: #d7d1c9;
    height: 6vh;
    width: 50%;
    position: relative;
    margin: 0 auto;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #696464;
    z-index: 1000;
    border-radius: 0 0 50px 50px;
    -webkit-box-shadow: -1px 5px 5px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 5px 5px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 5px 5px -1px rgba(0, 0, 0, 0.75);
}

.Header img {
    width: 4vh;
    height: 4vh;
    margin-right: 2vh;
}

.Header i {
   color: #ccc;
   font-size: 60%;
   margin-left: 5px;
   margin-top: -10px;
}