.MarkerClusterSmall {
    border-radius: 20px;
    font-size: 0.6vw;
    color: #fff;
    font-weight: 900;
    font-family: Open Sans;
    text-transform: uppercase;
    background-color: green;
    padding: 10px;
 }
 .MarkerClusterMedium {
    border-radius: 40px;
    font-size: 0.6vw;
    color: #fff;
    font-weight: 900;
    font-family: Open Sans;
    text-transform: uppercase;
    background-color: yellow;
 }
 .MarkerClusterLarge {
    border-radius: 70px;
    font-size: 0.6vw;
    color: #fff;
    font-weight: 900;
    font-family: Open Sans;
    text-transform: uppercase;
    background-color: orange;
 }
 .MarkerClusterLargeXL {
    border-radius: 70px;
    font-size: 0.6vw;
    color: #fff;
    font-weight: 900;
    font-family: Open Sans;
    text-transform: uppercase;
    background-color: red;
 }
 .MarkerClusterLabel {
    font-size: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
 }